# BDAT 1004 â€“ Data Programming

# Problem Set 2

# Question1

In [17]:
a = 0
def b(): #b is local
 global a #a is global variable
 a = c(a)  #c is local
def c(a):
 return a + 2

In [18]:
b()  #b=2
b()  #b=2+2
b()  #b=4+2 
a  #after implementing b three times a will return 6

6

a is zero 
b is local
c is local 
a is global variable
b is zero
After implementing b three times
a will return 6

# Question2

In [35]:
infile = open('Filelength.txt')
file = infile.read()
print(len(file))

try: 
        infile = open('ilelength.txt')
        file = infile.read()
        print(len(file))
except:
        print('File ilelength.txt not found.')

123
File ilelength.txt not found.

# Question3

In [14]:
class Marsupial(object):
    def __init__(self):
        self.list=[]
    def put_in_pouch(self,item):
        self.list.append(item)
    def pouch_contents(self):
        return self.list
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [1]:
class Marsupial():
    def __init__(self):
        self.list=[]
    def put_in_pouch(self,item):
        self.list.append(item)
    def pouch_contents(self):
        return self.list
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"
    
k=Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question4

In [11]:
def collatz(x):

    if x % 2 == 0:       #condition of even numbers
        print(x // 2)
        return x // 2
    elif x % 2 == 1:          #condition for odd numbers
        result = 3 * x + 1
        print(result)
        return result
    
    
i = input("what is the number: ")
while i != 1:                             #while loop till 1
    i = collatz(int(i))

what is the number: 10
5
16
8
4
2
1

# Question5

In [6]:
def binary(value):
    if (value>1):
       binary(value/2)
    print(int(value%2),  end=" ")

In [22]:
binary(0)

0

In [23]:
binary(1)

1

# Question6

In [4]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    headings = ['h1','h2','h3','h4','h5','h6']
    
    def handle_starttag(self, tag, attrs):
        if tag in self.headings: 
            pass
            
    def handle_endtag(self,tag):
        if tag in self.headings:
            pass
    def handle_data(self,data):
            print(data)

parser = HeadingParser()
infile = open('w3c.txt')
content= infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














W3C Mission


Principles

# Question7

In [36]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collect(HTMLParser):
    'collects URLs'

    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for i in attrs:
                if i[0] == 'href':
                   
                    absolute = urljoin(self.url, i[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [37]:
from html.parser import HTMLParser

def addon(url):
    
    if len(viewer) ==1:
        print(url)           # for testing

    # obtain links in the web page
    file = urlopen(url).read().decode()
    content = Collect(url)
    content.feed(file)
    urls = content.getLinks()          # get list of links


    return urls

In [38]:
viewer= set() 

def webdir(url,depth):
    '''a recursive web crawler that calls addon()
       on every visited web page'''
   
    first_url=url
    
    global viewer     
    viewer.add(url)

    
    links = addon(url)

   
    for link in links:
        # follow link only if not visited
        if link not in viewer:
            try:                
                if len(viewer) <= depth:


                    if len(viewer) <= (depth-1):
                        print( (depth-1)*'\t',link)
                    print( depth*'\t',link)
                webdir(link,depth)                
            except:
                pass

In [39]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2)

http://reed.cs.depaul.edu/lperkovic/test1.html
	 http://reed.cs.depaul.edu/lperkovic/test2.html
		 http://reed.cs.depaul.edu/lperkovic/test2.html
		 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

In [9]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather_cnd (City text,Country text,Season text,Temperature_C float, Rainfall_mm float)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Mumbai', 'India' ,'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Weather_cnd VALUES ('London', 'United Kingdom',' Winter', 4.2,207.7)")
cur.execute("INSERT INTO Weather_cnd VALUES ('London', 'United Kingdom', 'Spring' ,8.3, 169.6)")
cur.execute("INSERT INTO Weather_cnd VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Weather_cnd VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Cairo', 'Egypt', 'Winter', 13.6,16.5)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Cairo', 'Egypt','Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Weather_cnd VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [10]:
cur.execute('SELECT * FROM Weather_cnd')
for weather in cur:
    print(weather)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', ' Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

a) All the temperature data.

In [11]:
cur.execute('SELECT Temperature_C FROM Weather_cnd')
for weather in cur:
    print(weather)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

b) All the cities, but without repetition.

In [12]:
cur.execute('SELECT Distinct(City) FROM Weather_cnd')
for weather in cur:
    print(weather)

('Mumbai',)
('London',)
('Cairo',)

c) All the records for India.

In [22]:
cur.execute("SELECT * FROM Weather_cnd WHERE Country is 'India'")
for weather in cur:
    print(weather)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records

In [13]:
cur.execute("SELECT * FROM Weather_cnd WHERE Season is 'Fall'")
for weather in cur:
    print(weather)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [14]:
cur.execute("SELECT City, Country, Season,Rainfall_mm FROM Weather_cnd WHERE Rainfall_mm Between 200 and 400")
for weather in cur:
    print(weather)

('Mumbai', 'India', 'Fall', 346.0)
('London', 'United Kingdom', ' Winter', 207.7)
('London', 'United Kingdom', 'Fall', 218.5)

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [15]:
cur.execute("SELECT City, Country,Temperature_c FROM Weather_cnd WHERE Season is 'Fall' AND Temperature_c>20 order by Temperature_c ASC")
for weather in cur:
    print(weather)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

g) The total annual rainfall for Cairo.

In [16]:
cur.execute("SELECT City, SUM(Rainfall_mm) FROM Weather_cnd WHERE City is 'Cairo'")
for weather in cur:
    print(weather)

('Cairo', 27.6)

h) The total rainfall for each season

In [17]:
cur.execute("SELECT Season, SUM(Rainfall_mm) FROM Weather_cnd group by Season")
for weather in cur:
    print(weather)

(' Winter', 207.7)
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 22.4)

# Question 9

In [34]:
words =['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
every_word = [x.upper() for x in words]
print(every_word)
print('\n')
every_word = [x.lower() for x in words]
print(every_word)
print('\n')
for word in words:
        print(len(word), end=',')
        
print('\n')       
every_word = [[x.upper(), x.lower(), len(x)] for x in words]
print(every_word)

print('\n')
for word in words:
    if len(word) >= 4:
        print(word, end=',')

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


3,5,5,3,5,4,3,4,3,

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


quick,brown,jumps,over,lazy,